body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#eee;
}

input { padding:1em; border-radius: 1em; }
h3 { color: green; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formButton { padding:1em; border-radius: 1em; }

.formInput {
  color: DodgerBlue;
  padding: 10px;
  font-family: Arial;
}

.proofData {
  padding: 10px;
  font-family: Arial;
  word-wrap: break-word;
  max-width: 100%;
  font-size:0.6em;
}

.publicInputs {
  font-size:0.6em;
  padding: 10px;
  font-family: Arial;
}

.container {
  padding: 5em;
  text-align: center;
  background-color: white;
  border-bottom:5px solid #ddd;
}
